/* Other rules */

/* -------------- CONTAINER ---------- */
.container {
  width: 1284px;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

/* --------------HEADER--------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.header img {
  height: 40px;
}

.header button {
  box-sizing: border-box;
  font-size: 12px;
  width: 116px;
  height: 30px;
  border-radius: 5px;
}

.header > div {
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.header > div > div {
  display: flex;
  width: 265px;
  justify-content: space-between;
}

.sellarticles {
  background-color: #2baeb7;
  color: white;
  border: solid 1px #2baeb7;
}

.account-connect button {
  background-color: white;
  color: #2baeb7;
  border: solid 1px #2baeb7;
}

.sedeconnecter {
  background-color: #c2175b;
  color: white;
  border: none;
}

/* ----------- HOME ---------- */

.img-grid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.img-link {
  margin-bottom: 20px;
}

.img-offers {
  width: 265px;
  height: 360px;
  object-fit: cover;

  margin-right: 5px;
  margin-bottom: 5px;
}

/* ----------- HERO -------------- */

.hero {
  background-image: url(./assets/img/hero.09bfd0f9.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0px 0px;
  width: 100vw;
  height: 456px;
}

.hero > div > div {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: solid black 1px; */
  padding: 40px 20px;
  padding-top: 60px;
  padding-right: 50px;
  width: 414px;
  height: 270px;
  border-radius: 5px;
}

.hero button {
  background-color: #2baeb7;
  border: none;
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}

.hero p {
  font-size: 34px;
}
/* ------------ OFFER ------------------- */

.container-offer {
  background-color: #eaedee;
  height: 100vh;
}

.offer {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.offer img {
  height: 600px;
}

.offer > div {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: 404px;
  /* border: solid 1px black; */
  padding: 40px 40px;
}

/* .product-details div:first-child {
  /* background-color: green;
  
  
} */

.product-details-top {
  padding-bottom: 60px;
  border-bottom: solid 1px #e7e7e7;
}
.price-info {
  font-size: 25px;
  margin-bottom: 20px;
}

.product-info-box {
  display: flex;
  /* flex-direction: column; */
  /* border: solid 1px black; */
}

.product-info-values {
  margin-left: 60px;
}

.product-info-keys p {
  margin-bottom: 5px;
}

.product-info-values p {
  margin-bottom: 5px;
}

.product-details-bottom button {
  background-color: #0cb0ba;
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 60px;
}

/* ------------------- SIGNUP ----------------- */

.signup {
  /* background-color: green; */
  display: flex;
  justify-content: center;
}

.signup h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 470px;
  /* border: solid 1px black; */
}

.signup > form > input {
  box-sizing: border-box;
  height: 44px;
  width: 260px;
  margin-bottom: 10px;
  border: none;
}

.signup > form > input:nth-child(n + 1):nth-child(-n + 4) {
  border-bottom: 1px solid #fcced2;
}

::placeholder {
  color: #cccdce;
}

.signup > form > div {
  /* background-color: skyblue; */
  margin-top: 30px;
}

.signup > form > div > input:last-child {
  background-color: #2eb0ba;
  border: none;
  color: white;
  border-radius: 5px;
  height: 44px;
  width: 260px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.checkbox {
  margin-bottom: 10px;
}

.signup > form > div > input:last-child:hover {
  cursor: pointer;
}

.seconnecter {
  background-color: #2eb0ba;
  border: none;
  color: white;
  border-radius: 5px;
  height: 44px;
  width: 260px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.seconnecter:hover {
  cursor: pointer;
}

/* ----------------- PUBLISH ----------------- */

.container-publish {
  background-color: #eaedee;

  /* height: 100vh; */
}

.publish h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.publish {
  padding-top: 30px;
  padding-bottom: 30px;
}

.publish > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: white;
  border: solid 1px grey;
}

.publish > div > div {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 75px;
  border-bottom: solid 1px #c4c7c9;
}

.publish > div > div > input {
  width: 635px;
  height: 20px;
  border: none;
  border-bottom: solid 1px #c4c7c9;
}

#textarea-publish {
  width: 635px;
  border: none;
  border-bottom: solid 1px #c4c7c9;
}

.publish > div:first-child {
  background-color: green;
  height: 80px;
}

.picture-upload {
  display: flex;
  justify-content: center;
  height: 80px;
}

.checkbox-item > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.checkbox-item input {
  width: 20px;
  height: 20px;
  border: none;
}

.checkbox-item span {
  /* border: hotpink solid 2px; */
  width: 100%;
}

/* .checkbox-item label {
  border: hotpink solid 2px;
  width: 60px;
} */

.submit-article {
  background-color: #0cb0ba;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 5px;
  color: white;
}

/* ---------------- CHECKOUT ---------------------- */
.checkoutForm {
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: red; */
  width: 600px;
  height: 555px;
}

.checkoutForm form {
  background-color: white;
}

.checkoutForm > form > div {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  padding: 20px;
  border-bottom: solid grey 1px;
  border-radius: 5px;
}

.checkoutForm > form > div:last-child {
  align-items: center;
}
.checkoutForm h4 {
  margin-bottom: 30px;
}

.checkoutForm > form > div > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkoutForm h5 {
  font-weight: 800;
}

.checkoutForm span {
  font-weight: 800;
}

.checkoutForm input {
  background-color: #04ba6a;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 560px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkoutForm input:hover {
  cursor: pointer;
}
